@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    
</hgroup>
<div>
    <address>
        ISNE#3<br />
        Faculty of engineering<br />
        Chiang Mai University<br />
        <br />
        Thanakrit Jitapinyakul 580611025 <br />
        Panuwat Phunsuk 580611048 <br />
        Supapitch Thungtragul 580611061
    </address>

</div>